@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
    padding: 0;
    background-color: #f5deb3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.calculator__square {
    width: 40vmin;
    height: 68vmin;
    background-color: #1c1c1c;
    border-radius: 4vmin;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#text__container {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
#container_colorPalette {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}
#anchor {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2vmin;
    font-weight: bolder;
    color: #363027;
    margin-right: 0.8vmin;
    margin-bottom: 0.5vmin;
    user-select:none;
}
#display {
    width: 40vmin;
    height: 24vmin;
    border-radius: 1.8vmin 1.8vmin 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
#operation {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: lighter;
    font-size: 5vmin;
    color: white;
    margin-right: 3vmin;
    margin-top: 5vmin;
    margin-bottom: 0;
}
#operation::selection {
    background-color: #313131;
    color: white;
} 
.line {
    width: 40vmin;
    height: 8.6vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.type_1 {
    width: 7vmin;
    height: 7vmin;
    border-radius: 3.5vmin;
    background-color: #d4d4d2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.type_1:hover {
    background-color: #ebebeb;
    transition: background-color 0.2s;
}
.type_2 {
    width: 7vmin;
    height: 7vmin;
    border-radius: 3.5vmin;
    background-color: #ff9500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3vmin;
    font-weight: bolder;
    color: white;
    user-select:none;
}
.type_2:hover {
    background-color: #f3c995;
    transition: background-color 0.2s;
}
.hovered {
    background-color: white;
    transition: background-color 0.2s;
    color: #ff9500;
}
.type_3 {
    width: 7vmin;
    height: 7vmin;
    border-radius: 3.5vmin;
    background-color: #505050;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.type_3:hover {
    background-color: #737373;
    transition: background-color 0.2s;
}
.type_4 {
    width: 14vmin;
    height: 7vmin;
    border-radius: 3.5vmin;
    background-color: #505050;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 2.4vmin;
}
.type_4:hover {
    background-color: #737373;
    transition: background-color 0.2s;
}
.write__pattern1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3vmin;
    font-weight: bolder;
    color: #1c1c1c;
    user-select:none;
}
.write__pattern {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3vmin;
    font-weight: bolder;
    color: white;
    user-select:none;
}
